.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.cache/
tools/.cache/
source/models/landing/swordsman.vrm
source/models/landing/jellyfish.glb

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# pnpm
pnpm-debug.log*

